<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Books in the Library</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>All Books Stored in the Library</h1>

        <% if (books.length === 0) { %>
            <hr>
            <h2>No books in the library</h2>
        <% } else { %>
            <% books.forEach(book => { %>
                <div class="book-card">
                    <h2>Title: <%= book.title %></h2>
                    <h3>Author: <%= book.author %></h3>
                    <h4>No. of Copies: <%= book.copies %></h4>
                    <a href="/books/<%= book.id %>">Update Details</a>
                    <form method="post" action="/books/<%= book.id %>?_method=DELETE">
                        <button>Delete Book</button>
                    </form>
                </div>
            <% }); %>
        <% } %>

        <hr>
        <a href="/books/newBook">Add new books</a>
    </div>
</body>
</html>
